<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeKataBattle - Battle Status Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/ckbapp/css/battle_status_student.css' %}">
</head>
<body class="page-container">

    <div class="header-container">
        <h2 class="battle-title">Battle: {{ battle.name }}</h2>
    </div>

    <div class="content-container">

        <!-- Student Leaderboard Section -->
        <section class="student-leaderboard-section">
            <h3 class="section-title">Student Leaderboard</h3>
            <ul class="student-leaderboard-list">
                {% for student_entry in student_data %}
                    <li class="student-leaderboard-item">
                        Student: {{ student_entry.username }} | Score: {{ student_entry.score }}
                    </li>
                {% endfor %}
            </ul>
        </section>

        <!-- Team Leaderboard Section -->
        <section class="team-leaderboard-section">
            <h3 class="section-title">Team Leaderboard</h3>
            <ul class="team-leaderboard-list">
                {% for team in team_leaderboard %}
                    <li class="team-leaderboard-item">
                        {{ team.team.name }}'s Team | Score: {{ team.score }}
                    </li>
                {% endfor %}
            </ul>
        </section>

        

        <!-- Invite a Teammate Section -->
        <section class="invite-teammate-section">
            <h3 class="section-title">Invite a Teammate (only for the Team Leader)</h3>
            <form method="post" action="{% url 'battle_status_student' battle.id %}" class="form-container">
                {% csrf_token %}
                <!-- Include form fields for inviting a teammate -->
                <label for="teammate_username">Teammate's Username:</label>
                <input type="text" id="teammate_username" name="teammate_username" required>
                <button type="submit" name="invite_teammate" class="invite-btn">Send Invitation</button>
            </form>
        </section>

         <!-- Display messages -->
         {% if messages %}
         <ul class="messages">
             {% for message in messages %}
                 <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
             {% endfor %}
         </ul>
        {% endif %}


        </div>

</body>
</html>
